@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  @apply font-sans;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  @apply leading-[26px] font-normal text-base text-white-light hover:opacity-70 transition ease-in-out duration-300;
}

body {
  width: 100%;
  position: relative;

  @apply bg-black-dark;

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-black-light;
  }
}

svg,
img {
  width: 100%;
  /* height: auto; */
}

input {
  @apply accent-primary-normal;
}

input,
select,
option,
textarea {
  @apply py-2.5 px-3 bg-black-light rounded-[4px] border-0 w-full text-white-light leading-[26px] font-extralight text-base;
}

p {
  @apply tracking-normal text-gray-5 text-base leading-[26px] font-normal;

  @apply max-sm:text-sm max-sm:leading-[26px];
}

.container-layout {
  @apply max-w-screen-xl my-0 mx-auto overflow-hidden py-32 px-6 flex-col;
  @apply max-lg:py-24 max-lg:px-4;
}

.btn {
  @apply inline-block text-white-light py-2 px-6 bg-gradient-0 rounded-[4px] border-0 text-base leading-[26px];

  @apply hover:opacity-70 cursor-pointer transition-all duration-300 ease-in-out;
}

.btn-search {
  @apply cursor-pointer h-12 w-14 bg-search-icon bg-no-repeat bg-center bg-black-light border-0 rounded-[4px] -translate-x-1.5;
}

.bx {
  @apply hidden max-lg:block w-10 h-10 cursor-pointer relative;

  &::after {
    @apply content-[''] w-[70%] h-0.5 block bg-white absolute top-[35%] left-[40%] -translate-x-1/2 -translate-y-1/2 rounded-sm transition-all duration-500 ease-in-out;
  }

  &::before {
    @apply content-[''] w-[70%] h-0.5 block bg-white absolute top-[65%] left-[60%] -translate-x-1/2 -translate-y-1/2 rounded-sm transition-all duration-500 ease-in-out;
  }

  &.open {
    &::after {
      @apply absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 rotate-[135deg];
    }

    &::before {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rotate-[-315deg];
    }
  }
}

.menu-mobile {
  li {
    @apply border-b border-black-light;

    .link-menu-mobile {
      @apply inline-block w-full h-full py-6 px-4 hover:bg-black-light hover:pl-6;
    }
  }
}

.h0 {
  @apply text-white-light text-[120px] leading-[120%] font-medium;

  @apply max-lg:text-[88px] max-sm:text-[32px];
}

h3 {
  @apply text-white-dark text-5xl leading-[120%] font-normal;

  @apply max-lg:text-[32px] max-sm:text-[28px];
}

h4 {
  @apply text-white-dark text-4xl leading-[120%] font-normal;

  @apply max-lg:text-[28px] max-lg:leading-[130%] max-sm:text-xl max-sm:leading-[140%];
}

h5 {
  @apply text-white-dark text-2xl leading-[140%] font-normal;

  @apply max-lg:text-xl max-lg:leading-[140%];
}

h6 {
  @apply text-white-dark text-lg leading-normal font-normal;

  @apply max-lg:text-base;
}

.profile {
  @apply w-12 h-12 rounded-full;
}

.profile-big {
  @apply w-32 h-32 rounded-full;
}

.profile-img {
  @apply rounded-full border-2 border-primary-normal;
}

.thumb {
  img {
    @apply transition-all duration-500 ease-in-out scale-[1.05] hover:scale-[1.1];
  }
}

.card {
  @apply border border-black-light rounded-[4px] transition-all duration-300 ease-in-out hover:bg-black-light/20;
}

.img-banner {
  @apply w-full max-h-[420px] flex items-center justify-center rounded-[4px];

  img {
    @apply object-cover transition-all duration-700 ease-in-out hover:scale-[1.025];
  }
}
